// Define variables for your color scheme

// For example:
$red: #73EEDC;
$blue: #73C2BE;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$teal:       #20c997;
