<div class="container text-center">

<link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
<h2>A single cocktail is all you need.</h2>

  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-md-4">
      <% if cocktail.photo %>
      <div class="card-product"
      style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
      url(<%= cocktail.photo %>); height: 400px; background-size: cover; margin-top: 40px; background-position: center;">
              <div class="card-product-infos">
          <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
        </div>
      </div>
    <% else %>
      <div class="card-product"
        style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
        url('https://cdn.liquor.com/wp-content/uploads/2011/08/04122947/last-word-720-720-recipe.jpg')">
        <div class="card-product-infos">
          <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
        </div>
      </div>
    <% end %>
    </div>
  <% end %>

  </div>

<%= link_to "Create a cocktail", new_cocktail_path, id:"create-cocktail-button", class:"btn btn-primary" %>

  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      This page is made with <i class="fas fa-heart"></i>
    </div>
  </div>

</div>


<!-- <div class="container text-center" style="margin-top: 30px">
  <link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
  <span
     class="txt-rotate"
     data-period="1000"
     data-rotate='[ "Create", "Choose", "Drink it!" ]'></span>
  <div class="row d-flex justify-content-between">

    <#% @cocktails.each do |cocktail|  %>
      <#% if cocktail.photo %>
      <div class="col-4">
        <div class="card-product">
          <img src="<%#= cocktail.photo %>" style="width:400px">
          <div class="card-product-infos">
            <%#= link_to cocktail_path(cocktail) do  %>
            <h2><%#= cocktail.name %></h2>
            <#% end %>
            <p>Product description with <strong>relevant info</strong> only.</p>
          </div>
        </div>
      </div>
     <#% end %>
    <#% end %>
  </div>
</div> -->
